extends layout

include _includes/sharedHTMLfunctions

block content
	#banner.page-header
		.row
			.col-med-2
				h1= pageHeader.title
					small &nbsp; #{pageHeader.strapline}
	.row
		.col-xs-12.col-sm-8
			.row.list-group
				each c in courselist
					.col-xs-12.list-group-item(style="background-color:#FFFFFF;color:#000000;margin:5px;")
						h4
							a(href="/course")= c.courseId
							small &nbsp; #{c.professor}
						p #{c.courseName}
					.col-xs-12.col-sm-4