extends layout

block content
	#banner.page-header
		.row
			.col-med-2
				h1= pageHeader.title + ': ' + courseInfo.courseName 
					small &nbsp; Course Info
	.row
		p Instructor: #{courseInfo.professor}
		p Credits: #{courseInfo.credits}
		p When & Where: #{courseInfo.times}
		a.btn(href="/course/#{courseInfo._id}/hw/new") Add Assignment
		a.btn(href="/course/#{courseInfo._id}/unsubmitted") Show Unsubmitted
		a.btn(href="/course/#{courseInfo._id}") Show All 
		p
	.row
		each assignment in assignments
			.col-xs-12.col-sm-8
					.course
						.col-sm-12
							h3
								a #{assignment.hwName}
								small &nbsp; #{assignment.hwDescription}    
								a.btn2.pull-right(href="/course/"+courseInfo._id +"/assignment/"+assignment._id + "/delete" ) Delete   
					.col-xs-12(style="background-color:#FFFFFF;color:#000000;border-radius:5px;")
						p Due Date: #{assignment.dueDate}
						p Points: #{assignment.points}
						p Status: #{assignment.hwStatus}
					.col-xs-12.col-sm-4
	.row
		p
		p
	.row